h1 {
  text-align: center;
}
.grey {
  background-color: grey;
}

.list {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  gap: 5px;
  width: 25vw;
  padding: 5px;
}

.card {
  display: flex;
}

.col {
  flex: 1;
}